html,body{
padding:0;
margin:0;
}
body{
    background-color: #efefef;
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    background-color: #090909;
    text-align: center;
}
.capture-form{
background-color: white;
border:1px solid #cfcfcf;
width:35rem;
padding:20px 0 20px 0;
border-radius: 10px;
box-shadow:1px 1px 3px 0 #090909;
}
.capture-form h3{
    font-size: 30px;
    text-align: center;
    margin-top: 0 0 0 10px;
}
.control{
    padding: 5px 10px;
}
div.control label{
    display: inline-block;
    width:10rem;
    text-align:right;

}
.control input,.control select{
    display: inline-block;
    width:15rem;
    padding: 5px 8px;
    margin-left: 5px;
}
.control select{
    width:16.3rem;
}
#btnSave{
    display:inline-block;
    padding:1rem;
    margin-left: 10rem;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    background-color: #090909;
    border:none;
    text-align:center;
    
}
.nav{
    padding:10px;
    background-color: rgb(81, 125, 247);
    text-align: center;
 }
   
.nav-item{
    display:inline;
    padding: 10px;
    
}

.nav-link{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
    text-decoration: none; 
}

li a:hover {
  text-shadow: 2px 2px 5px black;
}